<!doctype html>
<title>{% block title %}{% endblock %} - vegvisir</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>

<body>
	<nav>
		<h1><a href="/">vegvisir</a></h1>
	</nav>
	<section class="content">
		<header>
			{% block header %}{% endblock %}
		</header>
		{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div>
		{% endfor %}
		{% block content %}{% endblock %}
	</section>
</body>