{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}docker{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
	<div>
		Loaded sets:
		<ul>
			<li>
				local
			</li>
			{% for set in loaded_sets %}
			<li>
				{{ set }}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div>
		Actions:

		<ul>

			<li>
				<form action="/docker/" method="POST">
					<label for="imageset">imageset:</label><input type="text" id="imageset" name="imageset">
					<input type="submit" name="action" value="Save Imageset">
				</form>
			</li>

			<li>
				<form action="/docker/" method="POST">
					<label for="imageset">imageset tar:</label><input type="text" id="imageset" name="imageset">
					<input type="submit" name="action" value="Load Imageset">
				</form>
			</li>

			<li>
				<form action="/docker/" method="POST">
					<label for="repo">repo:</label><input type="text" id="repo" name="repo">
					<label for="imageset">imageset:</label><input type="text" id="imageset" name="imageset">
					<input type="submit" name="action" value="Create Imageset">
				</form>
			</li>

			<li>
				<form action="/docker/" method="POST">
					<label for="imageset">imageset:</label><input type="text" id="imageset" name="imageset">
					<input type="submit" name="action" value="Remove Imageset">
				</form>
			</li>

			<li>
				<form action="/docker/" method="POST">
					<input type="submit" name="action" value="Pull/Update Source Images">
				</form>
			</li>

			<!--
			<li>
				<form action="/docker/" method="POST">
					<input type="submit" name="action" value="Update Images">
				</form>
			</li>
			-->
		</ul>

	</div>
</div>
{% endblock %}