{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}web gui{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
	<form action="/run" method="POST">
		<div class="implementations">
			<h2>Clients</h2>
			<ul>
				{% for client in clients %}
				<li>
					<input type="checkbox" value="{{ client.name }}" id="client.{{ client.name }}"
						name="client.{{ client.name }}" {% if client.active %}{{ "checked" }}{% endif %}>
					<label for="client.{{ client.name }}">{{ client.name }}</label>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="implementations">
			<h2>Servers</h2>
			<ul>
				{% for server in servers %}
				<li>
					<input type="checkbox" value="{{ server.name }}" id="server.{{ server.name }}"
						name="server.{{ server.name }}" {% if server.active %}{{ "checked" }}{% endif %}>
					<label for="server.{{ server.name }}">{{ server.name }}</label>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="implementations">
			<h2>Shapers</h2>
			<ul>
				{% for shaper in shapers %}
				<li>
					<input type="checkbox" value="{{ shaper.name }}" id="shaper.{{ shaper.name }}"
						name="shaper.{{ shaper.name }}" {% if shaper.active %}{{ "checked" }}{% endif %}>
					<label for="shaper.{{ shaper.name }}">{{ shaper.name }}</label>
					<ul>
						{% for scenario in shaper.scenarios %}
						<li>
							<input type="checkbox" value="{{ scenario.name }}"
								id="shaper.{{ shaper.name }}@senario.{{ scenario.name }}"
								name="shaper.{{ shaper.name }}@senario.{{ scenario.name }}" {% if scenario.active
								%}{{ "checked" }}{% endif %}>
							<label for="shaper.{{ shaper.name }}@senario.{{ scenario.name }}">
								{{ scenario.arguments }}
							</label>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		</div>
		<label for="sudo_pass">sudo password:</label><input type="password" id="sudo_pass" name="sudo_pass">
		<input type="submit" value="Run Tests">
	</form>
</div>
{% endblock %}